@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 45 920;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.21 0.034 264.665);
  --primary: oklch(0.546 0.245 262.881);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --disabled: oklch(0.872 0.01 258.338);
  --disabled-foreground: oklch(0.446 0.03 256.802);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-disabled: var(--disabled);
  --color-disabled-foreground: var(--disabled-foreground);
  --font-sans: "Pretendard", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    min-width: 320px;
    min-height: 100%;
    background: var(--background);
    color: var(--foreground);
    font-family: "Pretendard", ui-sans-serif, system-ui, sans-serif;
  }

  body {
    min-height: 100vh;
    margin: 0;
  }
}
